// ---------------------
//     BASE
// ---------------------

// *--------- LAYOUT ---------*

// *--------- COLORS ---------*
$base__border-color: #ececec;
$special__text-color: #00dd9c;
$special__background-color: #00dd9c;
